@include media-breakpoint-down(xl) {
  .logo-watermark {
    width: 100%;
  }
}

@include media-breakpoint-down(md) {
  .navbar {
    .gx-header-logo {
      height: 22px;
    }
  }

  .padding-title {
    padding: 2.875rem 1rem;
  }
}
